@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap'); /* Import Poppins font */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.popover-carts .pop-cart-body .pop-cart-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popover-carts .pop-cart-body .pop-cart-content .book {
    display: flex;
    gap: 5px;
}

.popover-carts .pop-cart-body .pop-cart-content .book img {
    width: 50px;
    height: 50px;
}

.popover-carts .pop-cart-body .pop-cart-content .book .price {
    color: #ee4d2d;
}

.popover-carts .pop-cart-body .pop-cart-footer {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.popover-carts .pop-cart-body .pop-cart-footer button {
    background-color: #ee4d2d;
    color: #fff;
    border: 1px solid #ee4d2d;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
}
