.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 0 20px 0;
  background-color: #f0f2f5;
  .register-page {
    padding: 40px;
    max-width: 500px;
    width: 100%;
    //margin: 0 auto;

    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    .register-title {
      font-size: 28px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 5px;
    }

    .register-form {
      .ant-form-item-label {
        text-align: left;
        font-weight: 500;
        color: #555555;
      }

      .ant-input,
      .ant-input-password {

        font-size: 16px;
        border-radius: 8px;
        transition: all 0.3s ease;

        &:focus,
        &:hover {
          border-color: #1890ff;
        }
      }

      .ant-form-item {
        margin-bottom: 24px;
      }

      .ant-btn-primary {
        width: 100%;
        height: 45px;
        font-size: 18px;
        font-weight: 600;
        background-color: #1890ff;
        border-color: #1890ff;
        border-radius: 8px;
        transition: background-color 0.3s ease;

        &:hover,
        &:focus {
          background-color: #40a9ff;
          border-color: #40a9ff;
        }
      }
    }

    .login-link {
      margin-top: 20px;

      button {
        background-color: transparent;
        border: none;
        color: #1890ff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #40a9ff;
          text-decoration: underline;
        }
      }
    }
    .login-link{
      display: flex;
      justify-content: end;
      a{
        color: #1890ff;
        cursor: pointer;
      }
      a:hover{
        color: #40a9ff;
      }
    }
  }
}
