.about-container {
    padding: 40px;
    background-color: #f4f4f4;
}

.about-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.about-content {
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
}

.section-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.image-container {
    border-radius: 8px;
    overflow: hidden;
    /* Thêm hiệu ứng bo tròn cho hình ảnh */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    /* Khoảng cách giữa các mục */
}

.contact-info {
    margin-top: 20px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền tối với độ trong suốt */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay {
    opacity: 1;
    /* Hiện overlay khi di chuột */
}